meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
title BIGUAR MACHINE
meta(name='keywords', content='弼伽機械,BIGUAR,')
meta(name='description', content='弼伽機械科技無錫有限公司成立於2017年，公司位於中國江蘇省無錫市胡埭鎮工業區內；地處最發達的長江三角洲。專業生產造紙制漿設備和紙漿模塑設備、模具研發與製造，成為一體目標的技術創造型公司。公司始終遵循「注重細節、追求完美」的經營理念，創造高品質的產品，以滿足市場需求。依照客戶需求從工廠流程規劃、設備的設計生產到現場安裝施工，弼伽團隊都有能力以最好的技術與服務為客戶完善規劃。')
meta(name='copyright', content='Copyright © 2017 BIGUAR MACHINE All Rights Reserved.')
meta(name='Author', content='ibiza.co')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-touch-fullscreen', content='yes')
link(rel='Shortcut Icon', type='image/x-icon', href='images/icon2.png')
meta(property='og:url', content='http://biguartech.com')
meta(property='og:type', content='website')
meta(property='og:title', content='弼伽機械 BIGUAR MACHINE')
meta(property='og:description', content='弼伽機械科技無錫有限公司成立於2017年，公司位於中國江蘇省無錫市胡埭鎮工業區內；地處最發達的長江三角洲。專業生產造紙制漿設備和紙漿模塑設備、模具研發與製造，成為一體目標的技術創造型公司。公司始終遵循「注重細節、追求完美」的經營理念，創造高品質的產品，以滿足市場需求。依照客戶需求從工廠流程規劃、設備的設計生產到現場安裝施工，弼伽團隊都有能力以最好的技術與服務為客戶完善規劃。')
meta(property='og:image', content='http://biguartech.com/images/02.jpg')

link(href='css/vendors.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
