nav#menu
  ul.nav.navbar-nav.nav-main
    li.item.active
      a(href='index.html')
        span.text 首頁
    li.item
      a(href='about.html')
        span.text 關於弼伽
      ul.multi-level(role='menu')
        li
          a(href='about.html', tabindex='-1') 公司介紹
        li
          a(href='about.html#spirit-intro', tabindex='-1') 企業理念
        li
          a(href='about.html#technology', tabindex='-1') 技術專業
    li.item
      a(href='product.html')
        span.text 產品介紹
      ul.multi-level(role='menu')
        li
          a(href='product.html') 產品型錄與介紹
        li
          a(href='product.html#product-second') 紙塑成型機
        li
          a(href='product.html#otherproduct') 其他產品
        li
          a(href='product.html#product-customized') 客製化服務
    li.item
      a(href='process.html')
        span.text 工藝介紹
      ul.multi-level(role='menu')
        li
          a(href='process.html', tabindex='-1') A.紙塑廠備漿系統規劃
        li
          a(href='process.html#process-two', tabindex='-1') B.造紙廠整廠輸出規劃
    li.item
      a(href='contact.html')
        span.text 聯絡我們
    li.item
      a(href='#')
        span.text 繁體中文
      ul.multi-level(role='menu')
        li
          a(href='contact-1.html', tabindex='-1') 繁體中文
        li
          a(href='contact-2.html', tabindex='-1') English
