extends _layout.jade

block header
  //- - var page = {current: 'process.html' ,other: 'process_en.html', lang: 'tw'}
  - var current = 'process.html' 
  - var other = 'process_en.html'
  - var lang = 'tw'
  include partials/_header.jade

block content  
  section.process
    .jumbotron.jumbotron-fluid
      .container-fluid
        .container
          .row
  // <A規劃>
  section.process-one
    .container-fluid.process-wrapper
      hgroup.section-header
        h2 A. 紙塑廠備漿系統規劃
      .container
        .slide-wrap.one-time
          #a1
            .row.justify-content-center.align-items-center
              .col-9.col-md-7.offset-md-1
                img.img-fluid(src='images/processa1.jpg', alt='')
              .col-6.col-md-4.mr-md-auto
                hgroup.section-header
                  .title-border
                    h3 木漿處理系統
                .intro-text
                  ul
                    li
                      a(href='#') 碎漿系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 高濃除渣器
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 疏解機
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 磨漿機
          #a2
            .row.justify-content-center.align-items-center
              .col-9.col-md-7.offset-md-1
                img.img-fluid(src='images/processa2.jpg', alt='')
              .col-6.col-md-4.mr-md-auto
                hgroup.section-header
                  .title-border
                    h3 廢紙處理系統
                .intro-text
                  ul
                    li
                      a(href='#') 碎漿系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 除渣系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 篩選系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 濃縮系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 磨漿系統
          #a3
            .row.justify-content-center.align-items-center
              .col-9.col-md-7.offset-md-1
                img.img-fluid(src='images/processa3.jpg', alt='')
              .col-6.col-md-4.mr-md-auto
                hgroup.section-header
                  .title-border
                    h3 廢紙分散處理系統
                .intro-text
                  ul
                    li
                      a(href='#') 碎漿系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 除渣系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 篩選系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 熱分散系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 洗滌濃縮
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 磨漿系統
          #a4
            .row.justify-content-center.align-items-center
              .col-9.col-md-7.offset-md-1
                img.img-fluid(src='images/processa4.jpg', alt='')
              .col-6.col-md-4.mr-md-auto
                hgroup.section-header
                  .title-border
                    h3 廢紙脫墨處理系統
                .intro-text
                  ul
                    li
                      a(href='#') 碎漿系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 除渣系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 篩選系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 熱分散系統
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 脫墨浮選
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 洗滌濃縮
                    li
                      img.svg-icon.arrow(src='images/ic_arrow_downward.svg', alt='')
                    li
                      a(href='#') 磨漿系統
    .container-fluid.process-wide
      .row.justify-content-center.align-items-center
        .col-8
          .video
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/dk_hDKrk7nU', frameborder='0', allowfullscreen='')
  // <Ｂ規劃>
  section#process-two.process-two
    hgroup.section-header
      h2 B. 造紙廠整廠輸出規劃
    .container-fluid
      .row.justify-content-center.align-items-center
        .col-8
          .video
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/O3-zCoFPk7Q', frameborder='0', allowfullscreen='')
    .slide-wrap.mt-5
      ul.process-slider-two
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb3.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb5.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb1.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb4.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb2.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/processb6.jpg', alt='')
